# Telegram бот
aiogram==3.13.1

# Google Sheets
gspread==6.1.4
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0

# Обработка изображений
Pillow==10.4.0

# PDF генерация
reportlab==4.2.5

# Дополнительные зависимости
aiohttp==3.10.11
aiofiles==24.1.0

# OCR - Tesseract (быстрый)
pytesseract==0.3.10
opencv-python-headless==4.10.0.84
